<ion-content>
  <ion-slides pager='true'>

   <!-- Slide 1 -->
    <ion-slide>
      <ion-text color='dark'>
        <img src="https://wallpaperaccess.com/full/388107.jpg">
        <h1>Ola, Seja Bem Vindo!</h1>
        <p>Esse é um app feito com ionic</p>
        <ion-button (click)="next()" fill="outline" color='dark'>Próximo</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color='dark'>
        <img src="https://external-preview.redd.it/V99FiXCTuoA5vmxrTIphUQGbiYkIQL2c1qMh4AuEXGA.jpg?auto=webp&s=7266d7117781ba34a4362e028dd997d1c1975c2a">
        <h1>Feito em 2021 por Pablo Da Silva Sena</h1>
        <ion-button (click)="next()" fill="outline" color='dark'>Próximo</ion-button>
      </ion-text>
    </ion-slide>
  </ion-slides>

</ion-content>
